<div class="search-form mt-4">
  <form method="post">
    <div class="mb-3">
      <label for="input" class="form-label">Tìm kiếm</label>
      <input
        type="text"
        class="form-control"
        id="input"
        aria-describedby="emailHelp"
        name="q"
      />
    </div>
    <div class="mb-3">
      <label for="gender-input" class="form-label">Giới tính</label>
      <select name="gender" id="gender-input">
        <option value="Nam">Nam</option>
        <option value="Nữ">Nữ</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="favorite-input" class="form-label">Sở thích: </label>
      <input type="checkbox" name="soccer" />
      Soccer
      <input type="checkbox" name="swimming" />
      Swimming
      <input type="checkbox" name="fishing" />
      Fishing
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>