@import 'variables';

.test {
  color: $red-color;
}

.navigation {
  font-size: 20px;
  letter-spacing: 1px;
}

.hello {
  font-size: 20px;
  color: bisque;
  font-weight: 600;
}

h1 {
  color: $red-color;
}

.search-form {
  padding: 0 20px;
}

.user-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: auto;
}
